.loginWrapper {
    display: flex;
    flex-direction: column;
    width: 320px;
    border: 1px solid rgb(6, 91, 148);
    border-radius: 5px;
    padding: 1rem 1rem 2rem;
    background-color: #fff;
}

.loginHeadingWrapper {
    text-align: center;
}

.loginHeadingWrapper h1 {
    color: rgb(110, 97, 141);
}

.linkBlue {
    color: rgb(76, 121, 210);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.75;
    letter-spacing: 0.025em;
}